body, html {
  height: 100%;
}

* { box-sizing: border-box; }

body {
    font-family: 'Coda', cursive;
    font-size: 12px;
    color: #424242;
}
h1 {
    text-align: center;
    margin: 0;
    padding: 10px;
    font-weight: normal;
    font-size: 2em;
}
.timer {
    font-size: 0.5em;
}
.container {
    width: 100%;
}

.header {
    margin: auto;
}
.stars, #n-moves{
    margin-left: 10px;
}
.stars i{
    display: inline-block;
}
.buttons{
    display: flex;
    align-items: center;
    align-content: space-around;
    margin-bottom: 5px;
}
.buttons svg {
    color: #424242;
}
.score {
    display: flex;
    width:45%;
}
.reload{
    width: 10%;
    margin-left: auto;
    text-align: center;
    cursor: pointer;
    font-size: 1.5em;
}

.board-size {
    width:45%;
    text-align: right;
    justify-content: flex-end;
    margin-left: auto;
}
select {
    font-size: 1.3em;
    background: white;
    border: 0;
    min-width: 2em;
}

.board {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d4e4ef+0,86aecc+100;Grey+Gloss */
    background: #d4e4ef; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #6886b4 0%, #8dcc86 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #6886b4 0%,#8dcc86 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #6886b4 0%,#8dcc86 100); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 6px 6px 6px 0 rgba(46, 61, 73, 0.5);
    border-radius: 10px;
    pointer-events: none;
    margin-bottom: 5px;
}

.card {
    padding: 2%;
    box-sizing: border-box;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    position: relative;
    /*pointer-events: all;*/
    cursor: pointer;
}

/*
card flipping inspired by
https://desandro.github.io/3dtransforms/docs/card-flip.html*/

.card.flipped {
    transform: rotateY( 180deg );
    cursor: not-allowed;
    pointer-events: none;
}

.solved .card-front  {
    background: #74c364;
    animation : pulse 0.3s 2;
}

.error .card-front  {
    background: #d23333;
    animation : no_no 0.2s 2;
}

/*https://webplatform.github.io/docs/tutorials/css_animations/*/
@keyframes pulse {
    from {
        transform : rotateY( 180deg ) scale(1);
        opacity   : 1;
    }
    50% {
        transform : rotateY( 180deg ) scale(0.75);
        opacity   : 1;
    }
    to {
        transform : rotateY( 180deg ) scale(1);
        opacity   : 1;
    }
}

@keyframes no_no {
    from {
        transform : rotateY( 180deg ) rotate(0deg);
        opacity   : 1;
    }
    25% {
        transform : rotateY( 180deg ) rotate(-10deg);
        opacity   : 1;
    }
    50% {
        transform : rotateY( 180deg ) rotate(0deg);
        opacity   : 1;
    }
    75% {
        transform : rotateY( 180deg ) rotate(10deg);
        opacity   : 1;
    }
    to {
        transform : rotateY( 180deg ) rotate(0deg);
        opacity   : 1;
    }
}

.card-back {
    position: absolute;
    background: #2e3d49;
    width: 90%;
    height: 90%;
    border-radius: 6px;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    backface-visibility: hidden;
    top: 5%;
    left: 5%;
    pointer-events: all;
}

.card-front {
    transition: scale 0.5s ease-in-out;
    transform: rotateY( 180deg );
    position: absolute;
    background: #4b7ba2;
    width: 90%;
    height: 90%;
    border-radius: 6px;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    font-size: 3em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    top: 5%;
    left: 5%;
    cursor: default;
}

svg {
    color: white;
    backface-visibility: hidden;
}

.game-won {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffffe6;
    text-align: center;
    transition: transform 0.5s ease;
    display: flex;
    align-items: center;
}

.hidden-game-won {
    transform: translate(-100%, 0);
}

.game-won svg {
    color: #4dda4d;
    font-size: 2em;
}
.centering {
    margin: auto;
}
.ok {
    border: 2px solid lightgray;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    line-height: 4.5em;
    margin: auto;
    opacity: 0;
}

.ok-animation {
    animation: ok-animation 1s 1;
    opacity: 1;
}

@keyframes ok-animation {
    from {
        opacity: 0;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.2)
    }
    to {
        opacity: 1;
        transform: scale(1)
    }
}


.congratulation{
    margin-top: 30px;
    font-size: 2em;
    font-weight: bold;
}
.time {
    margin-top: 30px;
    font-size: 1.2em;
}
.play-again {
    margin-top: 30px;
    background-color: #35d548;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.play-again:focus {
    background-color: #33b943;
}

@media screen and (max-width: 330px) {
    .stars {
        font-size: 0.8em;
    }
}

@media screen and (min-width: 400px) {
    .card-front {
        font-size: 3.5em;
    }
}
@media screen and (min-width: 700px) {
    .board {
        padding: 20px;
    }
}
